{%extends 'base_preregister.html'%} {% load static from static %} {%block page_title%}Join Dating App{%endblock%} {%block content%}

<!--Index banner-->
<section>
    <div class="preregister-banner" style="background-image: url('{% static 'temp/preregister-banner.jpeg'%}')" class="jumbotron jumbotron-fluid">
        <div class="standard-jumbotron-container container">
            <h1 class="display-4">Start Dating Today</h1>
            <p class="lead">Find love the easy way with the world's best dating site. Find that special someone.</p>
            <p class="lead">
                <a class="btn standard-button btn-lg preregister-button" href="{% url 'register' %}" role="button">JOIN</a>
            </p>
        </div>
    </div>
</section>

{%endblock%}
