{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":0,"column":1},"action":"insert","lines":["e"],"id":1},{"start":{"row":0,"column":1},"end":{"row":0,"column":2},"action":"insert","lines":["n"]},{"start":{"row":0,"column":2},"end":{"row":0,"column":3},"action":"insert","lines":["v"]},{"start":{"row":0,"column":3},"end":{"row":0,"column":4},"action":"insert","lines":["."]},{"start":{"row":0,"column":4},"end":{"row":0,"column":5},"action":"insert","lines":["p"]},{"start":{"row":0,"column":5},"end":{"row":0,"column":6},"action":"insert","lines":["y"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":6},"end":{"row":0,"column":6},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1561757022583,"hash":"22bf29b43b591d7341d21c6bf989d9a4d5b1a309"}