Click==7.0
Django==1.11
Flask==1.0.2
Jinja2==2.10.1
MarkupSafe==1.1.1
Pillow==3.4.2
Werkzeug==0.15.2
boto3==1.9.173
botocore==1.12.173
certifi==2019.3.9
chardet==3.0.4
django-filter==1.1
django-storages==1.7.1
docutils==0.14
geographiclib==1.49
geopy==1.20.0
idna==2.8
itsdangerous==1.1.0
jmespath==0.9.4
lxml==4.3.3
python-dateutil==2.8.0
pytz==2019.1
requests==2.22.0
s3transfer==0.2.1
stripe==2.28.0
urllib3==1.25.2
