

{% extends 'base.html' %} {% block page_title %}Create Profile{% endblock %} {% block page_heading %}Create Profile{% endblock %} 
{% block css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
{% endblock %}
{% block content %}

<section class="profile-card-container">
  <div class="card-container card-margin-top">
    <div class="card-form card">
      <div class="card-form-container">
        <h3>Profile Details</h3>
        <hr>
        <p class="card-form-subtitle">Customise your public profile</p>
        <p class="card-form-description">This is your opportunity to let your personality shine. A well crafted profile can increase your engagement 4x so try to make it an honest expression of who you are!</p>
        <form class="create-profile-form standard-form" method="POST" enctype="multipart/form-data">
          <!--https://docs.djangoproject.com/en/1.9/topics/forms/#s-looping-over-the-form-s-fields-->
          {% csrf_token %} {{ profile_form }}
          <!--{{ image_form }}-->
          <label>Profile Photos: </label> {{ formset.management_form }}
          <div class="profile-form-container">
            {% for form in formset %}
            <div id="field_{{form.id.id_for_label}}" class="profile-photo-container">
              
              <div {% if not form.initial.image %}style="display: none;"{% endif %} class="profile-delete-icon-container">
                <i onclick="delete_profile_photo( event, 'field_{{form.id.id_for_label}}' )" class="far fa-trash-alt"></i>
              </div>
              {{form}}
              <div class="profile-photo-overlay">
                <div class="profile-icon-container-absolute">
                  <div class="profile-icon-container-flex">
                    <i class="fas fa-plus"></i>
                  </div>
                </div>
                {% if form.initial.image %}
                <div class="profile-photo-image" style="background-image: url({{form.initial.image.url}})"></div>
                {% else %}
                <div class="profile-photo-image" style="background-image: none"></div>
                {% endif %}
              </div>
              
              {% for hidden in form %}
              {% if not 'image' in hidden.auto_id %}
              <input hidden class="delete-hidden-input" type="checkbox" name="delete" value="{{ hidden.value }}">
              {% endif %}
              {% endfor %}
              
            </div>
            {% endfor %}
          </div>

          <input type="submit" value="UPDATE" class="submit-wide submit-success" name="message_submit">

        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %} {% block js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
<script>
// http://jsfiddle.net/LvsYc/
  function readURL(input) {
    
      var image_input_id = $(input).attr('id')
      
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#" + image_input_id).parent().find('.profile-delete-icon-container').css('display', 'inherit')
                $("#" + image_input_id).parent().find('.delete-hidden-input').attr('checked', false)
                $("#" + image_input_id).parent().find('.profile-photo-image').css('background-image', 'url("' + e.target.result + '")');
            }
            $(image_input_id).siblings('.profile-delete-icon-container').css("display","block")
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $(".profile-photo-input").change(function(){
        readURL(this);
    });


    function delete_profile_photo(event, field_id) {
      if ($(event.target).attr("class") == "far fa-trash-alt") {
        $("#" + field_id).find('.profile-photo-image').css('background','none')
        $("#" + field_id).find('.profile-photo-image').css('background-size','cover')
        $("#" + field_id).find('.profile-photo-input').val('')
        $("#" + field_id).find('.delete-hidden-input').attr('checked', true)
        $(event.target).parent().css("display","none")
      }
    }
    
    
    
  // Change to jQuery!
  var placeSearch, autocomplete;
  // This example displays an address form, using the autocomplete feature
  // of the Google Places API to help users fill in the information.
  function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.
    autocomplete = new google.maps.places.Autocomplete(
      (document.getElementById('autocomplete')), { types: ['geocode'] });

    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      var place = autocomplete.getPlace();
      document.getElementById('autocomplete').value = place.name;
      document.getElementById('id_citylat').value = place.geometry.location.lat().toFixed(6);
      document.getElementById('id_citylong').value = place.geometry.location.lng().toFixed(6);
    });

  }


  // Bias the autocomplete object to the user's geographical location,
  // as supplied by the browser's 'navigator.geolocation' object.
  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var circle = new google.maps.Circle({ center: geolocation, radius: position.coords.accuracy });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }

  $(function() {

    var min_date = new Date();
    min_date.setFullYear(min_date.getFullYear() - 18);
    
    $("#id_birth_date").datepicker({
      'endDate': min_date,
    });
  });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8CKdpcMMIDq0BZ7x7DMbH_71XpVH4HWo&libraries=places&callback=initAutocomplete" async defer></script>
{% endblock %}
