{% extends 'base.html' %} {% load static from static %} {% load chatextras %} {% block page_title %}Chat Home{% endblock %} {% block content %}

<div class="message-page container">
    <div class="row">
        <!--All conversations-->
        {% if all_conversations.items %}
        <div class="card-container col-xs-12 col-lg-4 conversation-list">
            <div class="card">
                <ul>
                    {% for k, v in all_conversations.items %}

                    <li {% if conversation_id == k %}class="active-conversation" {% endif %} {% if not is_read_check|get_value:k %}class="unread-conversation" {% endif %} data-id="{{k}}">

                        <a href="{% url 'chat' k %}">
                            <div class="sender-container">
                                {% if v.receiver == request.user %}
                                <p class="message-sender">{{v.sender}}</p>
                                {% else %}
                                <p class="message-sender">{{v.receiver}}</p>
                                {% endif %}
                                <p class="last-message-date">{{v.created_on}}</p>
                            </div>
                            {% if v.receiver == request.user %} {% if v.sender.profileimage_set.first.is_verified == "APPROVED" %}
                            <div class="sender-photo" style="background-image: url({{ MEDIA_URL }}{{ v.sender.profileimage_set.first.image}})"></div>
                            {% else %}
                            <div class="sender-photo" style="background-image: url({% static 'temp/profile-placeholder.png' %})"></div>
                            {% endif %} {% else %} {% if v.receiver.profileimage_set.first.is_verified == "APPROVED" %}
                            <div class="sender-photo" style="background-image: url({{ MEDIA_URL }}{{ v.receiver.profileimage_set.first.image}})"></div>
                            {% else %}
                            <div class="sender-photo" style="background-image: url({% static 'temp/profile-placeholder.png' %})"></div>
                            {% endif %} {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!--No messages displayed as conversation has not been selected-->
        <div class="card-container col-lg-8 message-box">
            <div class="card">
                <div class="message-box-content message-box-empty" style="overflow: auto;">
                    <div>
                        <h3>Select a Conversation</h3>
                        <i class="far fa-comments"></i>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <!--No conversations have been created-->
        <div class="card-container col-lg-12 message-box">
            <div class="card">
                <div class="message-box-content message-box-empty" style="overflow: auto;">
                    <div>
                        <h3>No Conversations :(</h3>
                        <a href="{% url 'index' %}" class="btn standard-button">Start Something Special</a>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
    </div>
</div>
{%endblock%}
