{% extends 'base.html' %} {% load static from static %} {% load chatextras %} {% block page_title %}Views{% endblock %} {% block content %}
<div class="page-title">
    <h1>Views</h1>
</div>

<!--All profiles that have viewed member-->
<div class="container-fluid">
    <div class="row">
        {% if views_page %} {% for view in views_page %}
        <div class="card-container col-sm-12">
            <div class="card wide-card {%if not view.is_read%} unread-wink {%endif%}">
                <div class="row">
                    <div class="wide-user-details col-xs-12 col-sm-6">
                        {% if view.sender.profileimage_set.first.is_verified == "APPROVED" %}
                        <div class=" card-img" style="background-image: url({{ MEDIA_URL }}{{view.sender.profileimage_set.first.image}})"></div>
                        {% else %}
                        <div class=" card-img" style="background-image: url({% static 'temp/profile-placeholder.png' %})"></div>
                        {% endif %}
                        <div>
                            <div class="username-container">
                                <p class="card-username">{{view.sender.username}}</p>
                                <p class="card-distance">4 Miles Away</p>
                                <p class="card-age">{{view.sender.age}}69</p>
                            </div>
                            <div class="wide-date-container">
                                <p>{{view.created_on}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 wide-button-container">
                        <a href="{% url 'member_profile' view.sender.id %}" class="btn standard-button">VISIT USER</a>
                        <button onclick="send_wink_grid_link({{view.sender.id}})" class="btn standard-button">SEND WINK</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} {% else %}
        <div class="card-container col-lg-12 message-box">
            <div class="card">
                <div class="message-box-content message-box-empty" style="overflow: auto;">
                    <div>
                        <h3>No Views :(</h3>
                        <a href="{% url 'index' %}" class="btn standard-button">START THE CONVERSATION YOURSELF</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<!--Pagination-->
<div class="pagination-links">
    {% if views_page %} {% for view in views_page %} {% endfor %} {% if views_page.has_previous %}
    <a href="?page={{ views_page.previous_page_number }}">
        < Previous</a> {% endif %}

            <span data-page={{page}} class="current">
    Page {{ views_page.number }} of {{ views_page.paginator.num_pages }}
    </span> {% if views_page.has_next %}
            <a href="?page={{ views_page.next_page_number }}">Next ></a> {% endif %} {% endif %}
</div>


{% endblock %}
