{%extends 'base.html'%} {% load static from static %} {% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css"> {% endblock %} 
{%block page_title%}Search{%endblock%} {%block content%}

<!--Send message modal-->
<div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card-container">
                <div class="card-form card">
                    <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <div class="card-form-container">
                        <h3 class="card-modal-title">Send Message</h3>
                        <hr>
                        <p class="card-form-subtitle">Start a conversation</p>
                        <form class="standard-form not-profile-page-message-form" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="csrfmiddlewaretoken" value="{% csrf_token %}">
                            <input id="message-receiver-id" type="hidden" value="">
                            <textarea cols="40" maxlength="500" rows="10" required="" id="message-input"></textarea>
                            <input type="submit" class="submit-success" name="message_submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Search options-->
<form class="search-form" method="GET">
    <div class="search-option-container">
        <button type='button' class="search-reset-button" onclick="remove_selected()">RESET</button> {{ filtered_result.form }}


        <select {% if sexuality %}data-sexuality="{{sexuality}}" {%endif%} class="custom-form-field" title="Sexuality ▾" id="sexuality" data-container="body" multiple name="sexuality">
                <option value="s">Straight</option>
                <option value="b">Bisexual</option>
                <option value="g">Gay</option>
            </select>
        <select {% if distance %}data-distance="{{distance}}" {%endif%} title="Distance ▾" name="distance" class="custom-form-field" id="distance" data-container="body">
            <option value="10">10km</option>
            <option value="25">25km</option>
            <option value="50">50km</option>
            <option value="100">100km</option>
            <option value="250">250km</option>
            <option value="500">500km</option>
            <option value="750">750km</option>
            <option value="worldwide">Worldwide</option>
        </select>
        <select {% if min_height %}data-min-height="{{min_height}}" {%endif%} class="custom-form-field" title="Min Height ▾" id="height_min" data-container="body" name="height_min">
                <option value="152.4">5' 0"</option>
                <option value="154.94">5' 1"</option>
                <option value="157.48">5' 2"</option>
                <option value="160.02">5' 3"</option>
                <option value="162.56">5' 4"</option>
                <option value="165.1">5' 5"</option>
                <option value="167.64">5' 6"</option>
                <option value="170.18">5' 7"</option>
                <option value="172.72">5' 8"</option>
                <option value="175.26">5' 9"</option>
                <option value="177.8">5' 10"</option>
                <option value="180.34">5' 11"</option>
                <option value="182.88">6' 0"</option>
                <option value="185.42">6' 1"</option>
                <option value="187.96">6' 2"</option>
                <option value="190.5">6' 3"</option>
                <option value="193.04">6' 4"</option>
                <option value="195.58">6' 5"</option>
                <option value="198.12">6' 6"</option>
                <option value="200.66">6' 7"</option>
                <option value="203.2">6' 8"</option>
                <option value="205.74">6' 9"</option>
                <option value="208.28">6' 10"</option>
                <option value="210.82">6' 11"</option>
            </select>

        <select {% if max_height %}data-max-height="{{max_height}}" {%endif%} class="custom-form-field" title="Max Height ▾" id="height_max" name="height_max">
                <option value="152.4">5' 0"</option>
                <option value="154.94">5' 1"</option>
                <option value="157.48">5' 2"</option>
                <option value="160.02">5' 3"</option>
                <option value="162.56">5' 4"</option>
                <option value="165.1">5' 5"</option>
                <option value="167.64">5' 6"</option>
                <option value="170.18">5' 7"</option>
                <option value="172.72">5' 8"</option>
                <option value="175.26">5' 9"</option>
                <option value="177.8">5' 10"</option>
                <option value="180.34">5' 11"</option>
                <option value="182.88">6' 0"</option>
                <option value="185.42">6' 1"</option>
                <option value="187.96">6' 2"</option>
                <option value="190.5">6' 3"</option>
                <option value="193.04">6' 4"</option>
                <option value="195.58">6' 5"</option>
                <option value="198.12">6' 6"</option>
                <option value="200.66">6' 7"</option>
                <option value="203.2">6' 8"</option>
                <option value="205.74">6' 9"</option>
                <option value="208.28">6' 10"</option>
                <option value="210.82">6' 11"</option>
            </select>
    </div>
    <button class="search-button" type="submit"><i class="fas fa-search"></i></button>
</form>
<!--Filtered profiles-->
<div class="container-fluid">
    <div class="row">
        {% if not search_page %}
        <p class="centered-text">No profiles match your search. Try adjusting your filters</p>
        {% endif %} {% for profile in search_page %}
        <div class="card-container col-sm-12 col-md-6 col-lg-3">
            <div class="card four-cards">
                <a class="card-link card-link-wrapper" href="{% url 'member_profile' profile.user.id %}">
                    {% if profile.user.profileimage_set.first.is_verified == "APPROVED" %}
                    <div class="card-img four-cards" style="background-image: url( {{ MEDIA_URL }}{{profile.user.profileimage_set.first.image}})" ></div>
                    {% else %}
                    <div class="card-img four-cards" style="background-image: url({% static 'temp/profile-placeholder.png' %})"></div>
                    {% endif %}
                    <div class="row username-container">
                        <p class="col-9 card-username">{{profile.user.username}}</p>
                        <p class="col-3 card-age">{{profile.age}}</p>
                    </div>
                    <p class="card-distance">{%if profile.distance > 150 %}150KM+{%else%}{{profile.distance|floatformat:"0"}}KM{%endif%} Away</p>
                    <div class="row interaction-container">
                        <div class="interaction-wrapper">
                            <i class="hidden-icon col-6 far fa-comment-alt grid-message"></i>
                        </div>
                </a>
                <a class="card-link card-link-left" data-username="{{profile.user.username}}" data-user-id="{{profile.user.id}}"><i class="col-6 far fa-comment-alt grid-message"></i></a>
                <a class="card-link card-link-right" onclick="send_wink_grid_link({{profile.user.id}})"><i class="col-6 far fa-smile-wink grid-wink"></i></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
<!--Pagination-->
<div class="pagination-links">
    {% if search_page %} {% for search in search_page %} {% endfor %} {% if search_page.has_previous %}
    <a href="?page={{ search_page.previous_page_number }}">
        < Previous</a>
            {% endif %}

            <span data-page={{page}} class="current">
    Page {{ search_page.number }} of {{ search_page.paginator.num_pages }}
    </span> {% if search_page.has_next %}
            <a href="?page={{ search_page.next_page_number }}">Next ></a> {% endif %} {% endif %}
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
{% endblock %} {% block js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
{% endblock %}
